{% extends 'base.html' %}

{% block cont %}
<h1>Proyecto</h1>
<table>
<thead>
		<tr> 
			
			<th>Nombre</th>
			<th>Porcentaje</th>
			<th>archivo</th>
			<th>Fecha de creacion</th>
			<th>Cliente</th>
		</tr>
	</thead>
<div>
	<thead>
	<tr>
    	<th>{{ data_.name }}</th>
		<th>{{ data_.percent }} </th>
		<th>{{ data_.file }}</th>
		<th>{{ data_.created_at }}</th>
		<th>{{ data_.client_id }}</th>
	</tr>
</thead>
</div>
</table>

<h1>Requerimiento</h1>

<table border="10">
	<div>
		<thead>
				<tr> 
					
					<th>Titulo</th>
					<th>Fecha de inicio</th>
					<th>Fecha de finalizacion</th>
					<th>Proyecto</th>
				
				</tr>
			</thead>
{% for i in data %}

	<tr>
		<td>{{ i.title }}</td>
		<td>{{ i.start_date }}</td>
		<td>{{ i.end_date }}</td>
		<td>{{ i.project_id }}</td>
		<td>
			<a href="{% url 'view_requirement' i.id %}" class="button small">View</a>
		</td>

			{% for r in rol_ %}

	{% if user == r.user_id %}
		
		{% if r.rol == 'Scrum Master' %}

			{% if r.project_id == data_ %}
			<td>
				<a href="{% url 'update_requirement' i.id %}" class="button small">Editar</a>
			</td>
			<td>
				<a href="{% url 'delete_requirement' i.id %}" class="button small">Eliminar</a>
			</td>
			{% endif %}

		{% endif %}

	{% endif %}

{% endfor %}

	</tr>

{% endfor %}
</table>

<td>
{% for r in rol_ %}

	{% if user == r.user_id %}
		
		{% if r.rol == 'Scrum Master' %}

			{% if r.project_id == data_ %}
				<a href="{% url 'create_requirement' %}" class="button special">Agregar Requerimiento</a>
			{% endif %}

		{% endif %}

	{% endif %}

{% endfor %}

{% endblock %}
</td>